{% if constant('BOOTSTRAP5') is defined %}

    {% import "bootstrap5/navbar.twig"  as navbar %}

    {% set info = {
        'id': id,
        'container': container,
        'container_fluid': container_fluid,
        'show_header': show_header,
        'responsive' : responsive,
        'show_banner': show_banner,
        'custom_header' : custom_header,
        'nav_class': nav_class,
        'navbar_class': navbar_class,
        'html_pre_content' : html_pre_content,
        'html_content': html_content,
        'additional_nav_class': additional_nav_class,
        'language_switcher': language_switcher,
        'searchbar' : searchbar,
        'html_post_content': html_post_content,
        'callback_data' : callback_data,
        'additional_data': additional_data,
        'navbar_link' : navbar_link,
        'search_input': search_input,
        'search_uri': search_uri,
        'primary_callback_nav' : primary_callback_nav,
        'secondary_callback_nav' : secondary_callback_nav
    } %}

    {{ navbar.showsublinks(info) }}

{% else %}

    {# Navbarlink items #}
    {% macro navItems(link_id = 0, data, secondary_menu = '') %}
        {% if data[link_id]|length >0 %}
            {% for rows in data[link_id] %}
                {% if rows['seperator'] == true %}
                    <li class='divider' role='separator'></li>
                {% else %}
                    <li{{ whitespace(rows['li_class'] ? 'class="'~rows.li_class~'"')|raw }}
                            role="presentation">{{ rows.li_separator|raw }}
                        {% if rows['link_url'] %}
                        <a{{ whitespace(rows['link_attr'])|raw }}>
                            {% endif %}
                            {{ rows['link_icon']|raw }}{{ rows['link_name']|raw }}{{ rows['link_caret']|raw }}
                            {% if rows['link_url'] %}
                        </a>
                        {% endif %}

                        {% if rows['link_child']  == true %}

                            {% set secondaryMenuClass = "dropdown-menu-end" %}
                            {% set liClass = "class='nav-item'" %}

                            <ul id="menu-{{ rows.link_id }}" aria-labelledby="ddlink{{ rows['link_id'] }}" class="dropdown-menu{{ whitespace(secondary_menu ? secondaryMenuClass : '') }}">
                                {# Show self if is a link #}
                                {% if rows['link_url'] != '#' %}
                                    <li{{ whitespace(rows['link_url'] is empty ? 'class="no-link'~whitespace(li_class)~'"' : liClass)|raw }}
                                            role="presentation">
                                        {% if rows['link_child_attr'] %}
                                        <a {{ rows['link_child_attr']|raw }} role="menuitem">
                                            {% endif %}
                                            {{ rows['link_icon']|raw }}{{ rows['link_name']|raw }}
                                            {% if rows['link_child_attr'] %}
                                        </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                                {{ _self.navItems(rows.link_id, data)|raw }}
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endmacro %}

    <div id="{{ id }}" class="navbar {{ navbar_class }}" role="navigation">
        {% if container == true %}
        <div class="container">
            {% endif %}
            {% if container_fluid == true %}
            <div class="container-fluid">
                {% endif %}

                {% if show_header  == true %}

                    <!--Menu Header Start-->
                    {% if show_banner == true and banner !='' %}
                        <a class="navbar-brand" href="{{ navbar_link|raw }}">{{ banner|raw }}</a>
                    {% elseif show_header == true and show_header|length == 1 %}
                        <a class="navbar-brand visible-xs hidden-sm hidden-md hidden-lg"
                           href="{{ navbar_link|raw }}">{{ sitename|raw }}</a>
                    {% else %}
                        {{ show_header|raw }}
                    {% endif %}

                    {% if responsive == true %}
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#{{ id }}_menu" aria-controls="{{ id }}_menu" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    {% endif %}
                    <!--Menu Header End-->
                {% endif %}

                {{ custom_header|raw }}

                {% if responsive == true %}
                <div class="navbar-collapse collapse" id="{{ id }}_menu">
                    {% endif %}
                    {{ html_pre_content|raw }}

                    {% set primaryNavClass = 'class="nav navbar-nav primary"' %}

                    {% if nav_class %}
                        {% set primaryNavClass = 'class="'~nav_class~'"' %}
                    {% endif %}

                    {% set secondaryNavClass = 'class="nav navbar-nav secondary navbar-right"' %}

                    {% if additional_nav_class %}
                        {% set secondaryNavClass = 'class="'~additional_nav_class~'"' %}
                    {% endif %}

                    {# // Show primary links #}
                    <ul{{ whitespace(primaryNavClass|raw)|raw }}>
                        <!--Menu Item Start-->
                        {{ _self.navItems(0, primary_callback_nav)|raw }}
                        <!--Menu Item End-->
                    </ul>

                    {{ html_content|raw }}

                    {% if language_switcher == true  or searchbar == true or secondary_callback_nav|length > 0 %}

                        {# // Show secondary links #}
                        <ul{{ whitespace(secondaryNavClass|raw)|raw }}>
                            <!--Menu Item Start-->
                            {{ _self.navItems(0, secondary_callback_nav, true)|raw }}
                            <!--Menu Item End-->

                            {# Language Switcher #}
                            {% if language_switcher == true %}
                                {% set langSwitch = fusion_get_language_switch() %}
                                {% set language = fusion_get_enabled_languages() %}

                                {% if langSwitch|length >1 %}
                                    {# {{ print_p(langSwitch, 1) }} #}

                                    {% set currentLang =  constant('LANGUAGE') %}
                                    {% set selectedLang = langSwitch[currentLang] %}

                                    <li class="nav-item dropdown" role="presentation">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                           data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false"
                                           aria-haspopup="true">
                                            <img src="{{ selectedLang['language_icon_s'] }}"
                                                 alt="{{ selectedLang['language_name'] }}">
                                            {{ get_icon('caret') }}
                                        </a>
                                        <ul id="ddLanguage" class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="ddLanguage" role="menu">
                                            {% for lang in langSwitch %}
                                                <li>
                                                    <a class="dropdown-item" href="{{ lang['language_link'] }}">
                                                        <div class="d-flex align-items-center">
                                                            <img class="me-2" alt="{{ lang['language_name'] }}"
                                                                 src="{{ lang['language_icon_s'] }}">
                                                            {{ lang['language_name'] }}
                                                        </div>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        {% if searchbar %}
                            <form class="d-flex" role="search" action="{{ searchbar_uri|raw }}">
                                {{ search_input }}
                            </form>
                        {% endif %}
                    {% endif %}

                    {{ html_post_content|raw }}

                    {% if responsive == true %}
                </div>
                {% endif %}

                {% if container_fluid == true %}
            </div>
            {% endif %}

            {% if container == true %}
        </div>
        {% endif %}

    </div>
{% endif %}
