{# Bootstrap 5 Tab #}
{% macro _bs5_tab(tb, dropdown_mode) %}

    {% set tabActionLink = (tb['link'] ? 'href="'~tb['link']~'"' : 'data-bs-toggle="tab" data-bs-target="#'~ tb['id'] ~'"') %}

    <li class="nav-item{{ whitespace(tb['active'] ? 'active' : '' ) }}" role="presentation">

        {% if tb['dropdown'] %}

        <div class="btn-group">

            {% if tb['dropdown'] and dropdown_mode == 1 %}
                <a class="nav-link{{ whitespace(tb['active'] ? 'active' : '' ) }} dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ tb['icon'] }}{{ tb['title']|raw }}</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% for dp in tb["dropdown"] %}
                        {% if dp["divider"] %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% else %}
                            {% set cTabActionLink = (dp['link'] ? 'href='~dp['link']|raw~'' : 'data-bs-toggle="tab" data-bs-target="#'~ dp['id'] ~'"') %}
                            <li>
                                <a class="dropdown-item{{ whitespace(dp["class"]??'') }}" {{ cTabActionLink }}>{{ dp['icon']|raw }}{{ dp["title"]|raw }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            {% endif %}

            {% if dropdown_mode == 2 or tb['dropdown'] is empty %}
                {% if tb['link'] %}
                    <a class="nav-link{{ whitespace(tb['active'] ? 'active' : '' ) }}" id="tab-{{ tb['id'] }}" {{ tabActionLink|raw }} role="tab" aria-controls="{{ tb['id'] }}" aria-selected="true" role="tab">{{ tb['icon']|raw }}{{ tb['title']|raw }}</a>
                {% else %}
                    <button class="nav-link{{ whitespace(tb['active'] ? 'active' : '' ) }}" id="tab-{{ tb['id'] }}" {{ tabActionLink|raw }} role="tab" aria-controls="{{ tb['id'] }}" aria-selected="true" role="tab">{{ tb['icon']|raw }}{{ tb['title']|raw }}</button>
                {% endif %}
            {% endif %}

            {% if tb['dropdown'] and dropdown_mode == 2 %}
                <button type="button" class="nav-link{{ whitespace(tb['active'] ? 'active' : '' ) }} dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% for dp in tb["dropdown"] %}
                        {% if dp["divider"] %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% else %}
                            {% set cTabActionLink = (dp['link'] ? 'href='~dp['link']|raw~'' : 'data-bs-toggle="tab" data-bs-target="#'~ dp['id'] ~'"') %}
                            <li>
                                <a class="dropdown-item{{ whitespace(dp["class"]??'') }}" {{ cTabActionLink }}>{{ dp['icon']|raw }}{{ dp["title"]|raw }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            {# {% if tb['link'] %} #}
            {# <a class="nav-link{{ whitespace(tb['active'] ? 'active' : '' ) }}" id="tab-{{ tb['id'] }}" {{ tabActionLink|raw }} role="tab" aria-controls="{{ tb['id'] }}" aria-selected="true" role="tab">{{ tb['icon']|raw }}{{ tb['title']|raw }}</a> #}
            {# {% else %} #}
            {# <button class="nav-link{{ whitespace(tb['active'] ? 'active' : '' ) }}" id="tab-{{ tb['id'] }}" {{ tabActionLink|raw }} role="tab" aria-controls="{{ tb['id'] }}" aria-selected="true" role="tab">{{ tb['icon']|raw }}{{ tb['title']|raw }}</button> #}
            {# {% endif %} #}

            {% if tb['dropdown'] %}
        </div>
        {% endif %}

    </li>

{% endmacro %}

{# Bootstrap Tab #}
{% macro _bs_tab(tb) %}
    {% set tabActionLink = (tb['link'] ? 'href="'~tb['link']~'"' : 'data-toggle="tab" data-target="#'~ tb['id'] ~'"') %}
    {% if tb['dropdown'] %}
        {% set tabAction = (tb['link'] ?? '#'~ tb['id']) %}
        <li class="dropdown{{ whitespace(tb['active'] ? 'active' : '' ) }}" role="presentation">
            <a class="dropdown-toggle dropdown-toggle-split pointer" data-toggle="dropdown" href="{{ tabAction }}" aria-expanded="false">
                {{ get_icon("caret-down") }}
            </a>
            <ul class="dropdown-menu">
                {% for dp in tb["dropdown"] %}
                    {% if dp["divider"] %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    {% else %}
                        <li>
                            <a class="dropdown-item{{ whitespace(dp["class"]??'') }}" href="{{ (dp["link"]??'#')|raw }}">{{ dp['icon']|raw }}{{ dp["title"]|raw }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% elseif tb["link"] %}
        <li{{ whitespace(tb['active'] ? 'class="active"' : '' )|raw }} role="presentation">
            <a id="tab-{{ tb['id'] }}" class="pointer" {{ tabActionLink|raw }} aria-controls="{{ tb['id'] }}" aria-selected="true" role="tab">{{ tb['icon']|raw }}{{ tb['title']|raw }}</a>
        </li>
    {% else %}
        <li{{ whitespace(tb['active'] ? 'class="active"' : '' )|raw }} role="presentation">
            <a id="tab-{{ tb['id'] }}" class="pointer" {{ tabActionLink|raw }} aria-controls="{{ tb['id'] }}" aria-selected="true" role="tab">{{ tb['icon']|raw }}{{ tb['title']|raw }}</a>
        </li>
    {% endif %}
{% endmacro %}

{% if part == "header" %}
    <ul class="nav {{ class }}" id="{{ id }}" role="tablist">

        {% if tab|length %}

            {% for tb in tab %}

                {# {% set tb['dropdown_mode'] = dropdown_mode %} #}

                {% if constant("BOOTSTRAP5") is defined %}
                    {{ _self._bs5_tab(tb, dropdown_mode) }}

                {% elseif constant("BOOTSTRAP") is defined %}
                    {{ _self._bs_tab(tb, dropdown_mode) }}

                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
    {# {% if wrapper == true and link_mode == false %} #}
    {% if wrapper == true %}
        <!-- Open Tab-->
        <div class="tab-content" id="{{ id }}Content">
    {% endif %}
{% elseif part == 'openbody' %}

    {% if constant("BOOTSTRAP5") is defined or constant("BOOTSTRAP4") is defined %}
        {% set activeClass = active ? 'show active' : '' %}
    {% elseif constant("BOOTSTRAP") is defined %}
        {% set activeClass = active ? 'in active' : '' %}
    {% endif %}

    <!-- Open Tab Body-->
<div class="tab-pane fade {{ active ? activeClass : '' }}" id="{{ id }}" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
{% elseif part == 'closebody' %}
    <!-- Close Tab Body-->
    </div>
{% elseif part == 'footer' and wrapper == true %}
    {% if tab_nav %}
        <div class="clearfix">
            <a class='btn btn-warning btnPrevious m-r-10'>{{ locale['previous'] }}</a>
            <a class='btn btn-warning btnNext pull-right'>{{ locale['next'] }}</a>
        </div>
    {% endif %}
    <!--Close Tab-->
    </div>
{% endif %}
