<div class="breadcrumb">
    {% if breadcrumbs %}
        {% set count = 0 %}
        {% for crumb in breadcrumbs %}
            {% set count = count+1 %}
            <span>
            {% if crumb.link %}
                {% if count == 1 %}
                    <a title="{{ crumb.title }}" href="{{ crumb.link|raw }}" class="{{ crumb.class }}">{{ home_icon|raw }}</a>
                {% else %}
                    <a title="{{ crumb.title }}" href="{{ crumb.link|raw }}" class="{{ crumb.class }}">{{ crumb.title }}</a>
                {% endif %}

            {% else %}
                {{ crumb.title }}
            {% endif %}
        </span>
            <span class="breadcrumb-separator"></span>
        {% endfor %}
    {% endif %}
</div>
