{% macro checkbox_input(input_name, input_label, input_value, options, nested = false) %}

    {%  if (options['options'] is not empty and options['options']|length > 0) %}

        {% for key, value in options['options'] %}

            {% set deactivation = (options['deactivate_key'] is defined) and (options['deactivate_key'] is not null) ? true : false %}

            {% set checkbox_input_properties = whitespace( deactivation or options['deactivate_key'] == key ? 'disabled' : '') ~ whitespace(options['onclick'] ? 'onclick="'~options['onclick']~'"' : '') ~ whitespace(input_value[key] == true ? 'checked' : '') %}

            {% if deactivation and options['deactivate_key'] == key %}
                <input type="hidden" name="{{ input_name }}" id="{{ key }}">
            {% endif %}

            {% set checkbox_input_id = options['input_id'] ~'-'~ key %}

            {% set checkbox_multi_name = options['type'] == 'checkbox' ? input_name~'['~key~']' : input_name %}

            <div class="{{ (options['type'] == 'radio' ? 'radio' : 'checkbox') ~ whitespace(options['inline_options'] ? 'display-inline-block m-r-5' : '') }}">
                <label class="control-label m-r-10" for="{{ checkbox_input_id }}"{{ whitespace(options['inner_width'] ? 'style="width:'~options['inner_width']~'"' : '') }}>
                    <input id="{{ checkbox_input_id }}" name="{{ checkbox_multi_name }}" value="{{ key }}" type="{{ options['type'] }}"{{ whitespace(checkbox_input_properties)|raw }}>
                    {{ value|raw }}
                </label>
            </div>

        {% endfor %}

    {% else %}

        {% set checkbox_input_properties = whitespace( options['deactivate'] ? 'disabled' : '') ~ whitespace(options['onclick'] ? 'onclick="'~options['onclick']~'"' : '') ~ whitespace(input_value == options['value'] ? 'checked' : '') %}

        <div class="m-r-10{{ whitespace(input_label is not empty ? 'pull-right' : '') }}">
            <input name="{{ input_name }}" id="{{ options['input_id'] }}" value="{{ options['value'] }}" type="{{ options['type'] }}"{{ whitespace(checkbox_input_properties) }}>
        </div>

    {% endif %}

{% endmacro %}
