<ul class="nav navbar-nav navbar-right secondary m-r-0">
    {% set basedir = constant('BASEDIR') %}

    {% if languages|length > 1 %}
        {% set language = constant('LANGUAGE') %}

        <li class="dropdown language-switcher">
            <a href="#" class="dropdown-toggle pointer" data-toggle="dropdown" title="{{ language }}">
                <i class="fa fa-globe"></i>
                <img src="{{ basedir }}locale/{{ language }}/{{ language }}-s.png" alt="{{ current_lang }}">
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                {% for language_folder, language_name in languages %}
                    {% set language_link = get_function('clean_request', TRUE, 'lang=' ~ language_folder, ['lang'], FALSE) %}

                    <li>
                        <a class="display-block" href="{{ language_link|raw }}">
                            <img class="m-r-5" src="{{ basedir }}locale/{{ language_folder }}/{{ language_folder }}-s.png" alt="{{ language_folder }}"/>
                            {{ language_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}

    <li id="user-info" class="dropdown">
        <a href="#" id="user-menu" class="dropdown-toggle" data-toggle="dropdown">{{ name }} <span class="caret"></span></a>

        {% if constant('iMEMBER') %}
            <ul class="dropdown-menu" aria-labelledby="user-menu" style="min-width: 180px;">
                {% for item in menu %}
                    {% if item.divider %}
                        <li role="separator" class="divider"></li>
                    {% else %}
                        <li><a href="{{ item.link }}"><i class="m-r-5 {{ item.icon }}"></i> {{ item.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <ul class="dropdown-menu login-menu" aria-labelledby="user-menu">
                <li>
                    {{ menu.openform|raw }}
                    {{ menu.name|raw }}
                    {{ menu.pass|raw }}
                    {{ menu.remember|raw }}
                    {{ menu.button|raw }}
                    {{ menu.closeform|raw }}
                </li>
                <li>{{ menu.lostpassword|raw }}</li>

                {% if settings.enable_registration == 1 %}
                    <li>{{ menu.register|raw }}</li>
                {% endif %}
            </ul>
        {% endif %}
    </li>
</ul>
