{{ mainmenu|raw }}

{% if getparam.container == true %}
    <div class="container-fluid">
{% endif %}

    {{ constant('AU_CENTER')|raw }}
        {{ banner1|raw }}

        <div class="row">
            {% if ifleft == true %}
                <div class="col-xs-12 col-sm-{{ left.sm }} col-md-{{ left.md }} col-lg-{{ left.lg }}">
                    {{ constant('LEFT')|raw }}
                </div>
            {% endif %}

            <div class="col-xs-12 col-sm-{{ content.sm }} col-md-{{ content.md }} col-lg-{{ content.lg }}">
                {{ notices|raw }}
                {{ constant('U_CENTER')|raw }}
                {{ constant('CONTENT')|raw }}
                {{ constant('L_CENTER')|raw }}
                {{ banner2|raw }}
            </div>

            {% if ifright == true %}
                <div class="col-xs-12 col-sm-{{ right.sm }} col-md-{{ right.md }} col-lg-{{ right.lg }}">
                    {{ right_content|raw }}
                    {{ right_const|raw }}
                </div>
            {% endif %}
        </div>

    {{ constant('BL_CENTER')|raw }}

{% if getparam.container == true %}
    </div>
{% endif %}

<footer id="main-footer">
    <div class="container-fluid">
        <div class="text-center">{{ errors|raw }}</div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">{{ constant('USER1')|raw }}</div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">{{ constant('USER2')|raw }}</div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">{{ constant('USER3')|raw }}</div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">{{ constant('USER4')|raw }}</div>
        </div>

        <div class="m-t-20">
            {% set sitebanner = constant('BASEDIR') ~ settings.sitebanner %}

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 visible-xs">
                    <div class="text-center"><img src="{{ sitebanner }}" alt="{{ settings.sitename }}" class="img-responsive" style="display: inline;"></div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-left">{{ footer_text|raw }}</div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 hidden-xs">
                    <div class="text-center"><img src="{{ sitebanner }}" alt="{{ settings.sitename }}" class="img-responsive" style="display: inline;"></div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="social-links text-right">
                        {% if themesettings.github_url %}
                            <a href="{{ themesettings.github_url }}" target="_blank"><i class="fa fa-github"></i></a>
                        {% endif %}

                        {% if themesettings.facebook_url %}
                            <a href="{{ themesettings.facebook_url }}" target="_blank"><i class="fa fa-facebook"></i></a>
                        {% endif %}

                        {% if themesettings.twitter_url %}
                            <a href="{{ themesettings.twitter_url }}" target="_blank"><i class="fa fa-twitter"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="text-center" style="margin-top: 30px;">{{ copyright|raw }}</div>

            {% if ifrendertime == true %}
                <div class="text-center">
                    {{ rendertime|raw }}
                    {{ memoryusage|raw }}
                </div>
            {% endif %}

            <div class="text-center strong">Magazine theme &copy; {{ 'now'|date('Y') }} {{ locale.created_by }} <a href="https://github.com/RobiNN1" target="_blank">RobiNN</a></div>
            {{ counter|raw }}
        </div>
    </div>
</footer>
