{#Header#}
{% set navbar_header = '' %}
{% if banner and banner_position and banner_link %}
    {% set navbar_header = '<a class="navbar-brand'~whitespace(banner_position)~whitespace(banner_class)~'" href="'~banner_link~'"><img src="'~banner~'" alt="'~banner_title~'"></a>'~header_content %}
{% endif %}

{#Affix Option#}
{% set affix = '' %}
{% if affix_top or affix_bottom %}
    {% set affix = ' data-spy="affix"' %}
    {% if affix_top %}
        {% set affix = affix ~ ' data-offset-top="'~affix_top~'"' %}
    {% endif %}
    {% if affix_bottom %}
        {% set affix = affix ~ ' data-offset-bottom="'~affix_bottom~'"' %}
    {% endif %}
{% endif %}

{#Container Class#}
{% set openContainer = '' %}
{% set closeContainer = '' %}
{% if container %}
    {% set openContainer = '<div class="container">' %}
    {% set closeContainer = '</div>' %}
{% elseif (container_fluid) %}
    {% set openContainer = '<div class="container-fluid">' %}
    {% set closeContainer = '</div>' %}
{% endif %}

{#Recursive list function#}
{% macro menu_links(links, index = 0) %}
    {% import _self as macros %}
    {% for link in links[index] %}
        {% if link.link_active %}
            {% set activeLinkClass = 'class="active"' %}
            {% set activeSpan = '<span class="sr-only">(current)</span>' %}
            {% set icon = links.link_icon ? '<i class="{{ link.icon }}"></i>' %}
        {% endif %}
        {# where this has a child item#}
        {% if links[link.link_id] %}
            {% set listClass = link.link_cat > 0 ? 'dropdown-submenu' : 'dropdown' %}
            {% set linkWindow = link.link_window == 1 ? 'target="_blank" ' : '' %}
            {% set topCaret = link.link_cat > 0 ? '' : '<span class="caret"></span>' %}
            <li class="{{ listClass }}">
                <a class="dropdown-toggle" data-toggle="dropdown" data-submenu href="{{ link.link_url }}" id="{{ link.link_id }}Dropdown"{{ whitespace(linkWindow) }} role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">{{ whitespace(icon)|raw }}{{ link.link_name|raw }}{{ whitespace(topCaret)|raw }}</a>
                <ul class="dropdown-menu" aria-labelledby="{{ link.link_id }}Dropdown">
                    {{ macros.menu_links(links, link.link_id) }}
                </ul>
            </li>
        {% else %}
            {#where this is a top level item#}
            {% if link.link_url %}
                <li{{ whitespace(activeLinkClass)|raw }}>
                    <a href="{{ link.link_url }}">{{ whitespace(icon)|raw }}{{ link.link_name|raw }}{{ whitespace(activeSpan)|raw }}</a>
                </li>
            {% elseif link.link_name == '---' or link.link_name == '===' %}
                <li class="divider"></li>
            {% else %}
                <li{{ whitespace(activeLinkClass)|raw }}>
                    {{ whitespace(icon)|raw }}{{ link.link_name|raw }}{{ whitespace(activeSpan)|raw }}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

<nav id="{{ id }}" class="navbar{{ whitespace(navbar_class) }}" role="navigation" {{ affix|raw }}>
    {{ openContainer|raw }}
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#{{ id }}_menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {{ navbar_header|raw }}
        {{ custom_banner|raw }}
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="{{ whitespace(responsive_class) }}" id="{{ id }}_menu">
        {{ html_pre_content|raw }}
        <ul class="nav navbar-nav{{ whitespace(nav_class_primary) }}">
            {{ _self.menu_links(callback_data) }}
        </ul>
        {#            <ul class="nav navbar-nav">#}
        {#                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}
        {#                <li><a href="#">Link</a></li>#}
        {#                <li class="dropdown">#}
        {#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
        {#                    <ul class="dropdown-menu">#}
        {#                        <li><a href="#">Action</a></li>#}
        {#                        <li><a href="#">Another action</a></li>#}
        {#                        <li><a href="#">Something else here</a></li>#}
        {#                        <li role="separator" class="divider"></li>#}
        {#                        <li><a href="#">Separated link</a></li>#}
        {#                        <li role="separator" class="divider"></li>#}
        {#                        <li><a href="#">One more separated link</a></li>#}
        {#                    </ul>#}
        {#                </li>#}
        {#            </ul>#}
        {{ html_content|raw }}
        {{ search|raw }}
        {% if language or additional_data %}
            <ul class="nav navbar-nav navbar-right{{ whitespace(nav_secondary_class) }}">
            </ul>
        {% endif %}
        {{ html_post_content|raw }}
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
