{% set readonlyText = options.deactivate ? " form-control-plaintext" : " form-control" %}
{% set inputTip = options.ext_tip ? '<small id="'~options.input_id~'Help" class="form-text text-muted">'~options.ext_tip~'</small>' : '' %}
{% set accessibilityText = label and options.ext_tip ? 'aria-describedby="'~options.input_id~'Help"' : "" %}

{#Group Sizing for prepend and append#}
{% if options.group_size %}
    {% set options = options|merge({'group_size': 'input-group-'~options.group_size }) %}
{% endif %}


{#Prepend Values#}
{% if options.prepend %}
    {% if options.prepend_buton %}
        {% set prependButtonClass = options.prepend_class ?: 'btn-outline-secondary' %}
        {% set inputPrependValue = '<button name="'~options.prepend_button_name~'" class="btn'~whitespace(prependButtonClass)~'" type="button" id="'~options.prepend_id~'" value="'~options.prepend_form_value~'" type="'~options.prepend_type~'">'~options.prepend_value~'</button>' %}
    {% else %}
        {% set inputPrependValue = '<span class="input-group-text">'~options.prepend_value~'</span>' %}
    {% endif %}
    {% set inputPrepend = '<div class="input-group-prepend">'~inputPrependValue~'</div>' %}
{% endif %}

{#Append Values#}
{% set inputAppend  = '' %}
{% if options.append_button %}
    {% set appendButtonClass = options.append_class ?: 'btn-outline-secondary' %}
    {% set inputAppendValue = '<button name="'~options.append_button_name~'" class="btn'~whitespace(appendButtonClass)~'" type="button" id="'~options.append_id~'" value="'~options.append_form_value~'" type="'~options.append_type~'">'~options.append_value~'</button>' %}
{% elseif options.append_value %}
    {% set inputAppendValue = '<span class="input-group-text">'~options.append_value~'</span>' %}
{% endif %}
{#{% set inputAppend = '<div class="input-group-append">'~inputAppendValue~'</div>' %}#}

{#Input Group#}
{% if inputPrepend or inputAppend %}
    {#    'group_width' => ($options['width'] ? ' style="width:'.$options['width'].'"' : '')#}
    {% set inputGroupSize = options.group_size ? 'input-group-'~options.group_size : '' %}
    {% set groupClass = options.group_size ? "input-group-"~whitespace(inputGroupSize) : '' %}
    {% set openformgroup = '<div class="input-group'~whitespace(groupclass)~'">' %}
    {% set closeformgroup = '</div>' %}
{% endif %}

{% if options.required %}
    {% set required = 'required' %}
    {% set requiredMarker = '<span class="required">*</span>' %}
{% endif %}

{#Label class#}
{% set labelClass = '' %}
{% if options.label_class %}
    {% set labelClass = options.label_class %}
{% elseif (options.inline) %}
    {#        default class if inline#}
    {% set labelClass = 'col-sm-12 col-md-3' %}
{% endif %}

{% set inputLabel = label ? '<label for="'~options.input_id~'" class="'~((options.inline) ? 'col-form-label' : 'control-label')~whitespace(labelClass)~'">'~label~whitespace(requiredMarker)~'</label>' : '' %}

{#Form group class#}
{% set class = whitespace(options.class) %}
{% if options.inline %}
    {% set class = whitespace(options.class)~' row' %}
    {% set containerClass = 'col-sm-12 col-md-9' %}
    {% if options.container_class %}
        {% set containerClass = options.container_class %}
    {% endif %}
{% endif %}

{% if options.type == "checkbox" or options.type == "toggle" or options.type == "radio" %}
    {% if options.default_checked and key is empty %}
        {% set default_checked = true %}
    {% endif %}
    {% set checked = '' %}
    {% if default_checked is defined or key == input_value %}
        {% set checked = 'checked' %}
    {% endif %}
{% endif %}

{% if options.type == 'dropdown' %}
    {#Select#}

    {% set inputField = '<select class="'~options.inner_class~'" id="'~options.input_id~'" name="'~input_name~'"'~whitespace(options.readonly)~whitespace(options.onchange)~whitespace(options.multiple)~whitespace(options.required)~' style="width:'~options.inner_width~' !important;">'~allowclear|raw~parent_opts|raw~options.options_options|raw~'</select>' %}

    {#{% elseif options.type == 'checkbox' %}#}

{% elseif options.type == 'button' %}
    {% set noLabel = true %}
    {% set inputField = '<span class="button-checkbox"><button type="button" class="btn btn-'~options.button_class~whitespace(options.class)~'" data-color="'~options.button_class~'">'~options.label~'</button><input name="'~options.input_name~'" id="'~options.input_id~'" type="checkbox" value="'~options.value~'" class="hidden"></span>' %}

{% elseif options.type == 'toggle' %}

    {% set noLabel = true %}
    {% set inputField = '<div class="custom-control custom-switch"><input type="checkbox" class="custom-control-input" id="'~options.input_id~'" value="'~options.value~'" data-on-text="'~options.on_label~'" data-off-text="'~options.off_label~'"'~whitespace(checked)~'><label class="custom-control-label" for="'~options.input_id~'">'~options.label~'</label></div>' %}

{% elseif options.type == 'checkbox' %}
    {% set inputField = '' %}
    {% for key, label in options.options %}
        {% set onClick = options.onclick ? 'onclick="'~options.onclick~'"' : '' %}
        {#        $checked .= ($input_value == $key || $default_checked && $key == FALSE ? ' checked' : '');#}

        {#        $checked = ($options['deactivate'] || $options['deactivate_key'] === $key ? 'disabled' : '')#}
        {#        if ($options['type'] == 'checkbox' && count($options['options']) > 1) {#}
        {#        $checked = ($input_value[$key] == TRUE || $default_checked && $key == FALSE ? ' checked' : '');#}
        {#        } else {#}
        {#        $checked .= ($input_value == $key || $default_checked && $key == FALSE ? ' checked' : '');#}
        {#        }#}
        {% set deactivate = options.deactivate ? 'disabled' : '' %}

        {% set optionLabel = '<label class="form-check-label" data-label="'~key~'" for="'~options.input_id~'-'~key~'">'~label~'</label>' %}
        {% set postLabel = optionLabel %}
        {% if options.reverse_label %}
            {% set preLabel = optionLabel %}
        {% endif %}

        {% if options.deactivate_key is not empty and options.deactivate_key == key %}
            {% set inputField = inputField ~ '<input name="'~input_name~'" value="'~key~'">' %}
        {% endif %}

        {% set inputField = inputField ~ '<div class="form-check">'~preLabel ~'<input type="'~options.type~'"'~whitespace(options.readonly)~' name="'~input_name~'" class="form-check-input" id="'~options.input_id~'-'~key~'" value="'~key~'" data-value="'~key~'"'~whitespace(onClick)~whitespace(accessibilityText)~whitespace(options.input_data)~whitespace(options.min)~' style="width:'~options.inner_width~'!important;"'~whitespace(required)~whitespace(checked)~whitespace(deactivate)~'>'~postLabel~'</div>' %}

    {% endfor %}

{% elseif options.type == 'radio' %}
    {% set inputField = '' %}
    {% for key, label in options.options %}
        {% set onClick = options.onclick ? 'onclick="'~options.onclick~'"' : '' %}

        {% if options.default_checked and key is empty %}
            {% set default_checked = true %}
        {% endif %}
        {% set checked = '' %}
        {% if default_checked is defined or key == input_value %}
            {% set checked = 'checked' %}
        {% endif %}
        {% set deactivate = options.deactivate ? 'disabled' : '' %}

        {% set optionLabel = '<label class="form-check-label" data-label="'~key~'" for="'~options.input_id~'-'~key~'">'~label~'</label>' %}
        {% set postLabel = optionLabel %}
        {% if options.reverse_label %}
            {% set preLabel = optionLabel %}
        {% endif %}

        {% if options.deactivate_key is not empty and options.deactivate_key == key %}
            {% set inputField = inputField ~ '<input name="'~input_name~'" value="'~key~'">' %}
        {% endif %}

        {% set inputField = inputField ~ '<div class="form-check">'~preLabel ~'<input type="'~options.type~'"'~whitespace(options.readonly)~' name="'~input_name~'" class="form-check-input" id="'~options.input_id~'-'~key~'" value="'~key~'" data-value="'~key~'"'~whitespace(onClick)~whitespace(accessibilityText)~whitespace(options.input_data)~whitespace(options.min)~whitespace(required)~whitespace(checked)~whitespace(deactivate)~'>'~postLabel~'</div>' %}

    {% endfor %}
{% else %}
    {#Text, Password, Number, Email #}
    {% if options.deactivate %}
        {% set readOnly = 'readonly' %}
    {% endif %}
    {% set inputField = '<input type="'~options.type~'"'~whitespace(readOnly)~' name="'~input_name~'" class="'~readonlyText~whitespace(input_class)~'" id="'~options.input_id~'" value="'~input_value~'" placeholder="'~options.placeholder~'"'~accessibilityText~whitespace(options.input_data)~whitespace(options.min)~whitespace(options.max)~whitespace(options.step)~whitespace(options.max_length)~whitespace(options.autocomplete)~' style="max-width:'~options.inner_width~'!important;"'~whitespace(required)~'>' %}
{% endif %}

{#Generated Output#}
<div class="form-group{{ whitespace(class) }}{{ whitespace(options.group_size) }}">
    {{ inputLabel|raw }}
    {{ openformgroup|raw }}
    {% if options.inline %}
    <div class="{{ containerClass }}">
        {% endif %}
        {{ inputPrepend|raw }}
        {% if options.inline|raw %}
            {{ inputField|raw }}
            {{ inputTip|raw }}
        {% else %}
            {{ inputField|raw }}
            {{ inputTip|raw }}
        {% endif %}
        {{ inputAppend|raw }}
        {% if options.inline %}
    </div>
    {% endif %}
    {{ closeformgroup|raw }}
</div>
