{#Header#}
{% set navbar_header = '' %}
{% if banner and banner_position and banner_link %}
    {% set navbar_header = '<a class="navbar-brand'~whitespace(banner_position)~whitespace(banner_class)~'" href="'~banner_link~'"><img src="'~banner~'" alt="'~banner_title~'"></a>'~header_content %}
{% endif %}

{#Affix Option#}
{% set affix = '' %}
{% if affix_top or affix_bottom %}
    {% set affix = ' data-spy="affix"' %}
    {% if affix_top %}
        {% set affix = affix ~ ' data-offset-top="'~affix_top~'"' %}
    {% endif %}
    {% if affix_bottom %}
        {% set affix = affix ~ ' data-offset-bottom="'~affix_bottom~'"' %}
    {% endif %}
{% endif %}

{#Container Class#}
{% set openContainer = '' %}
{% set closeContainer = '' %}
{% if container %}
    {% set openContainer = '<div class="container">' %}
    {% set closeContainer = '</div>' %}
{% elseif (container_fluid) %}
    {% set openContainer = '<div class="container-fluid">' %}
    {% set closeContainer = '</div>' %}
{% endif %}

{#Recursive list function#}
{% macro menu_links(links, index = 0) %}
    {% import _self as macros %}
    {% for link in links[index] %}
        {# where this has a child item#}
        {% set linkActive = '' %}
        {% if link.link_active %}
            {% set linkActive = 'active' %}
        {% endif %}

        {% if links[link.link_id] %}
            {% set listClass = link.link_cat > 0 ? 'dropdown-submenu' : 'nav-item dropdown' %}
            {% set aClass = link.link_cat > 0 ? 'dropdown-item' : 'nav-link' %}
            {% set linkWindow = link.link_window == 1 ? 'target="_blank" ' : '' %}

            <li class="{{ listClass }}{{ whitespace(linkActive) }}">
                <a class="{{ aClass }} dropdown-toggle" href="{{ link.link_url }}" id="{{ link.link_id }}Dropdown"{{ whitespace(linkWindow) }} role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.link_name }}</a>
                <ul class="dropdown-menu" aria-labelledby="{{ link.link_id }}Dropdown">
                    {{ macros.menu_links(links, link.link_id) }}
                </ul>
            </li>
        {% elseif link.link_cat >0 %}
            {#where this is a subitem#}
            <a class="dropdown-item" href="#">{{ link.link_name }}</a>
        {% else %}
            {#where this is a top level item#}
            <li class="nav-item{{ whitespace(linkActive) }}">
                <a class="nav-link" href="{{ link.link_url }}">{{ link.link_name }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<nav id="{{ id }}" class="navbar{{ whitespace(navbar_class) }}" role="navigation" {{ affix|raw }}>
    {{ openContainer|raw }}
    {{ navbar_header|raw }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#{{ navbar_id }}_menu" aria-controls="{{ navbar_id }}_menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse{{ whitespace(responsive_class) }}" id="{{ navbar_id }}_menu">
        {{ html_pre_content|raw }}
        <ul class="navbar-nav mr-auto{{ whitespace(nav_class_primary) }}">
            {{ _self.menu_links(callback_data) }}
        </ul>
        {{ html_content|raw }}
        {{ search|raw }}
        {% if additional_data or language %}
            <ul class="navbar-nav navbar-right ml-auto {{ whitespace(nav_secondary_class) }}">
                {#                language options#}
                {% if language %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarLanguage" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="display-inline">
                            <span>{{ language.image|raw }}</span>
                            <span class="overflow-hide">{{ language.title }}</span>
                        </div>
                    </a>
                    <div class="dropdown-menu">
                        {% for lang in language.options %}
                            <a class="dropdown-item" href="{{ lang.link }}">
                                <div class="flex-row">
                                    <span>{{ lang.image|raw }}</span>
                                    <span class="overflow-hide">{{ lang.title }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </li>
                {% endif %}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        Dropdown#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">Action</a>#}
{#                        <a class="dropdown-item" href="#">Another action</a>#}
{#                        <div class="dropdown-divider"></div>#}
{#                        <a class="dropdown-item" href="#">Something else here</a>#}
{#                    </div>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
{#                </li>#}
            </ul>
        {% endif %}
        {% if login %}
            <span class="navbar-text ml-auto">
                {% if logout %}
                    {% if admin %}
                        <a class="btn btn-dark mr-3" href="{{ admin.link }}">{{ admin.title }}</a>
                    {% endif %}
                    <a class="btn btn-secondary" href="{{ logout.link }}">{{ logout.title }}</a>
                {% else %}
                    <a class="btn btn-primary mr-3 strong" href="{{ login.link }}">{{ login.title }}</a>
                    <a class="btn btn-secondary strong" href="{{ register.link }}">{{ register.title }}</a>
                {% endif %}
            </span>
        {% endif %}
        {{ html_post_content }}
    </div>
    {{ closeContainer|raw }}
</nav>

{#bootstrap submenu-mods#}
<script>
    $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
        if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        }
        var $subMenu = $(this).next('.dropdown-menu');
        $subMenu.toggleClass('show');
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            $('.dropdown-submenu .show').removeClass('show');
        });
        return false;
    });
</script>
<style>
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }
</style>
