<div class="news-header">
    <h1>{{ data.blog_subject }}</h1>
    {{ breadcrumbs|raw }}
</div>

<div class="card clearfix">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="clearfix m-b-20">
                <div class="pull-right">
                    {% if data.admin_link is not null %}
                        <div class="btn-group">
                            <a href="{{ data.admin_link.print_link }}" class="btn btn-primary btn-sm" title="{{ locale.print }}" target="_blank"><i class="fa fa-print"></i></a>
                            <a href="{{ data.admin_link.edit }}" class="btn btn-warning btn-sm" title="{{ locale.edit }}"><i class="fa fa-pencil"></i></a>
                            <a href="{{ data.admin_link.delete }}" class="btn btn-danger btn-sm" title="{{ locale.delete }}"><i class="fa fa-trash"></i></a>
                        </div>
                    {% else %}
                        <a class="btn btn-primary btn-circle btn-sm" href="{{ data.admin_link.print_link }}" title="{{ locale.print }}" target="_blank"><i class="fa fa-print"></i></a>
                    {% endif %}
                </div>
                <div class="overflow-hide">
                    {{ data.blog_post_author|raw }}
                    {{ data.blog_post_time|raw }}

                    {% for cat in data.blog_categories %}
                        <a href="{{ constant('INFUSIONS') }}blog/blog.php?cat_id={{ cat.blog_cat_id }}" class="badge m-l-5">{{ cat.blog_cat_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix">
                {% if data.blog_image %}
                    <a class="m-10 {{ data.blog_ialign }} blog-image-overlay" href="{{ data.blog_image_link }}">
                        <img class="img-responsive" src="{{ data.blog_image_link }}" alt="{{ data.blog_subject }}" style="padding: 5px;overflow: hidden;">
                    </a>
                {% endif %}

                {{ data.blog_blog|raw }}
                <br>
                {{ data.blog_extended|raw }}

                {% if data.blog_nav is not null %}
                    <div class="clearfix m-b-20">{{ data.blog_nav }}</div>
                {% endif %}

                {{ data.blog_show_comments|raw }}
                {{ data.blog_show_ratings|raw }}
            </div>
        </div>

        <div class="col-xs-12 col-sm-3">
            <ul class="list-style-none">
                {% for filter in filters %}
                    <li><a href="{{ filter.link }}" class="display-inline{{ (filter.active == 1) ? ' text-dark' : '' }}">{{ filter.title }}</a></li>
                {% endfor %}
            </ul>

            {% if categories is not null %}
                {{ openside('<i class="fa fa-list"></i> ' ~ locale.blog_1003, 'shadow p-t-0') }}
                    <ul class="list-style-none">
                        {% for id, cat in categories %}
                            <li{{ (get.cat_id == id) ? ' class="active"' : '' }}><a href="{{ constant('INFUSIONS') }}blog/blog.php?cat_id={{ id }}">{{ cat.blog_cat_name }}</a></li>

                            {% if cat.sub is not null %}
                                {% for sub_cat_id, sub_cat_data in cat.sub %}
                                    <li{{ (get.cat_id == sub_cat_id) ? ' class="active"' : '' }}><a href="{{ constant('INFUSIONS') }}blog/blog.php?cat_id={{ sub_cat_id }}">{{ sub_cat_data.blog_cat_name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {{ closeside() }}
            {% endif %}

            {% if authors is not null %}
                {{ openside('<i class="fa fa-users"></i> ' ~ locale.blog_1005, 'shadow p-t-0') }}
                    <ul class="list-style-none">
                        {% for id, data in authors %}
                            <li{{ (data.active) ? ' class="active"' : '' }}><a href="{{ data.link }}">{{ data.title }} <span class="badge m-l-10">{{ data.count }}</span></a></li>
                        {% endfor %}
                    </ul>
                {{ closeside() }}
            {% endif %}

            {% if archive is not null %}
                {{ openside('<i class="fa fa-calendar"></i> ' ~ locale.blog_1004, 'shadow p-t-0') }}
                    <ul class="list-style-none">
                        {% for year, data in archive %}
                            <li>
                                <a class="{{ (year == 'now'|date('Y')) ? 'text-dark ' : '' }}{{ (archive == year) ? 'strong' : '' }}" data-toggle="collapse" data-parent="#blogarchive" href="#blog-{{ year }}">{{ year }}</a>
                                <ul id="blog-{{ year }}" class="collapse m-l-15{{ (archive == year) ? ' in' : '' }}">
                                    {% for a_data in data %}
                                        <li{{ (a_data.active) ? ' class="active string"' : '' }}><a href="{{ a_data.link|raw }}">{{ a_data.title }} <span class="badge">{{ a_data.count }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                {{ closeside() }}
            {% endif %}
        </div>
    </div>
</div>
