<div class="background-cover"></div>
<div id="wrap">
    <div class="header-dark">
        <header class="header" itemscope itemtype="https://schema.org/WPHeader">
            {{ top_navigation|raw }}
        </header>
    </div>
    <div class="horizon-content">
        <div class="container-fluid">
            <div class="row">
                {% if LEFT %}
                    <section class="col-xs-{{ left_grid.xs }} col-sm-{{ left_grid.sm }} col-md-{{ left_grid.md }} col-lg-{{ left_grid.lg }} col-xs-{{ left_gird.xl }}">
                        {{ LEFT|raw }}
                    </section>
                {% endif %}
                <section class="col-xs-{{ content_grid.xs }} col-sm-{{ content_grid.sm}} col-md-{{ content_grid.md}} col-lg-{{ content_grid.lg}} col-xs-{{ content_grid.xl }}">
                    <div class="content">
                        {{ CONTENT|raw }}
                    </div>
                </section>
                {% if RIGHT %}
                    <section class="col-xs-{{ left_grid.xs }} col-sm-{{ left_grid.sm }} col-md-{{ left_grid.md }} col-lg-{{ left_grid.lg }} col-xs-{{ left_gird.xl }}">
                        {{ RIGHT|raw }}
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
    <footer class="horizon-footer">
        <div class="container-fluid">
            <div class="top-footer">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="clearfix brand">
                            <img src="{{ IMAGES }}php-fusion-icon.png" class="icon">
                            <div class="overflow-hide">
                                <div class="text-sm">
                                    PHPFusion X is an open source project and helps you establish your community based website and connect with other people.
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-sm-6 col-md-3">
                                <h6 class="mb-3">About Us</h6>
                                <ul class="block">
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-sm-6 col-md-3">
                                <h6 class="mb-3">About Us</h6>
                                <ul class="block">
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-sm-6 col-md-3">
                                <h6 class="mb-3">About Us</h6>
                                <ul class="block">
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-sm-6 col-md-3">
                                <h6 class="mb-3">About Us</h6>
                                <ul class="block">
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                    <li><a href="">Replace with Sitelinks</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-footer">
            <a href="#wrap" class="btn btn-primary btn-to-top">
                <i class="fas fa-angle-up fa-lg"></i>
            </a>
            <div class="container-fluid">
                {{ copyright|raw }}
                {{ whitespace(rendertime)|raw }}<br/>
                {{ whitespace(memoryusage)|raw }}
            </div>
        </div>
    </footer>
</div>
