{% macro _textarea_open(options) %}
    {% set __bbcode = options['bbcode_options'] %}
    {% if options['append_html'] %}
        {% set __bbcodeCardClass = ' pb-0' %}
    {% endif %}

    <!--bbcode-->
    <div class="card panel-txtarea">
        <div class="card-header">
            <div class="d-flex">
                {{ __bbcode['bbcode_opentab']|raw }}
                <div class="bbcode-wrapper ms-auto d-flex flex-wrap bbcode_input flex-wrap justify-content-end">{{ __bbcode['buttons']|raw }}</div>
            </div>
        </div>
        <div class="card-body {{ __bbcodeCardClass }}">
            <div class="tab-content{{ whitespace(options['attachment'] ? 'has-attachment' : '') }}" id="{{ options['input_id'] }}_tabContent">
                {{ __bbcode['open_tab_content_edit']|raw }}
{% endmacro %}
