{% macro _textarea_close(options) %}
    {% set __bbcode = options['bbcode_options'] %}
    {# Textarea goes here #}

    <!--//close textarea-edit-->
    {% if options['attachment'] %}
        <div class="file-drop-area">
            <label for="{{ options['attachment_input_id'] }}">{{ options['attachment_locale']|raw }}</label>
            <input type="file" name="{{ options['attachment_name'] }}" id="{{ options['attachment_input_id'] }}" class="file-input" data-multiple-caption="{count} files selected" {{ options['attachment_multiple'] ? "multiple" : "" }}/>
        </div>
    {% endif %}

    {# Tip #}
    {{ (options['ext_tip'] ? '<span class="tip text-muted">'~options['ext_tip']~'</span>' : '')|raw }}
    {# This can swapped with invalid-tooltip #}
    {{ (options['input_error'] ? '<div id="'~options['input_id']~'-help" class="invalid-feedback">'~options['error_text']~'</div>' : '')|raw }}

    {{ __bbcode['close_tab_content']|raw }}
    <!--//closetabbody-->
    {% if __bbcode['open_tab_content_preview'] %}
        {{ __bbcode['open_tab_content_preview']|raw }}
        {{ fusion_get_locale('global_003')|raw }}
        {{ __bbcode['close_tab_content']|raw }}
    {% endif %}

    </div><!--//tabcontent-->
    </div><!--//card body-->

    {% if options['append_html'] %}
        <div class="card-footer">
            {{ options['append_html']|raw }}
        </div>
    {% endif %}
    </div><!--End BBcode card-->
{% endmacro %}
